@import '_reset';
@import '_header';
@import '_footer';
body{
  background-color: #90c418;
}

section{
  width: 95%;
  margin: 50px auto;
  background-color: white;
  width: 50%;
  div:first-child{

    div{
      display: flex;
      justify-content: center;
      img{
        border-radius: 50%;
        width: 50%;
      }
    }
    p{
      text-align: center;
    }
  }
  div:nth-child(2){
    text-align: center;
  }
  div:last-child{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
}