@import '_reset';
@import '_header';
@import '_footer';
body{
  background-color: #90c418;
}
section {
  display: grid;
  width: 75%;
  margin: 30px auto;

  span {
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  > h2 {
    color: white;
    text-align: center;
    font-size: 30px;
  }

  > div {
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    background-color: white;

    > div:first-child {
      overflow: scroll;
      height: 50vh;

      > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 0px 5px black;
        margin-bottom: 10px;
        padding: 20px;

        div {
          padding: 10px;
        }

        div:first-child {
          flex-basis: 15%;
          text-align: center;

          p {
            margin-bottom: 0;
            font-weight: bold;
          }
        }

        > div:nth-child(2) {
          flex-basis: 60%;
          background-color: #caf5c8;
          padding-left: 30px;

        }

        div:nth-child(3) {
          flex-basis: 25%;
          text-align: center;

          a {
            color: black;
            border-radius: 10px;
            background-color: #ec3838;
            padding: 5px;
          }
        }
      }
    }

    > div:nth-child(2) {
      text-align: center;
      font-size: 25px;

      a {
        color: white;
        font-weight: bold;
        border-radius: 13px;
        background-color: #82ad1d;
        padding: 5px;
        width: 40%;
        display: inline-block;
      }
      a:hover {
        background: #658912;
        color: white;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  section {
    >div {
      font-size: 15px;

      div:nth-child(2) {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  section {
    >div {
      font-size: 12px;
      padding: 5px;

      > div:first-child {
        overflow: scroll;
        height: 55vh;
      }

      div:nth-child(2) {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  section {
    width: 90%;

    >div {
      font-size: 10px;
      padding: 5px;

      > div:first-child {
        overflow: scroll;
        height: 55vh;


      }
    }

    >h2 {
      font-size: 20px;
    }
  }
}